<div class="container-fluid">
    <section class="hero">
        <div class="container">
            <h1>Smart Technology</h1>
            <p>En Smart Technology, impulsamos el futuro a través de la tecnología innovadora.</p>
        </div>
    </section>
</div>
<div class="container py-5">
    
    <div class="text-center mb-4">
        <h1>Productos</h1>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        <div *ngFor="let producto of productos" class="card m-3" style="width: 18rem;">
            <img [src]="producto.photoURL" class="card-img-top" [alt]="producto.nombre">
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.precio | currency }}</p>
                <a [routerLink]="['/producto', producto.id]" class="btn btn-outline-info">Ver Detalles</a>
                <a class="btn btn-outline-success" (click)="addToCarrito(producto)">Agregar al carrito</a>
            </div>
        </div>
    </div>
</div>