<footer class="bg-dark text-light pt-4 pb-2">
    <div class="container">
        <div class="row">
            <!-- Sección 1: Información de la empresa -->
            <div class="col-md-4">
                <h5>Smart Technology</h5>
                <p>
                    Soluciones tecnológicas para un futuro inteligente.
                    <br>
                    Contacto: contactosmarttechnology.com
                </p>
            </div>
            <!-- Sección 2: Enlaces rápidos -->
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home" routerLinkActive="router-link-active" class="text-light text-decoration-none">Inicio</a></li>
                    <li><a routerLink="/nosotros" routerLinkActive="router-link-active" class="text-light text-decoration-none">Sobre Nosotros</a></li>
                    <li><a routerLink="/productos" routerLinkActive="router-link-active" class="text-light text-decoration-none">productos</a></li>
                    
                </ul>
            </div>
            <!-- Sección 3: Redes sociales -->
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <a href="https://www.facebook.com/smarttechnology" class="text-light me-3">
                    <i class="fab fa-facebook fa-lg"></i>
                </a>
                <a href="https://www.twitter.com/smarttechnology" class="text-light me-3">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a href="https://www.instagram.com/smarttechnology" class="text-light me-3">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
                <a href="https://www.linkedin.com/company/smarttechnology" class="text-light">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p class="mb-0">&copy; 2024 Smart Technology. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
