.hero {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201028/pngtree-abstract-technology-background-technical-electric-image_443494.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    text-align: center;
    border-radius: 10px;
}