<div class="container-fluid d-flex justify-content-center align-items-center background" >
  <form [formGroup]="form" class=" p-4 rounded shadow-sm formulario" >
    <div class="mb-4">
        <label for="email" class="form-label">Correo</label>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            formControlName="email" 
            placeholder="Ingresa tu correo"
            style="border-radius: 10px;">
        <div class="invalid-feedback text-danger">
            El correo es obligatorio.
        </div>
    </div>
    <div class="mb-4">
        <label for="password" class="form-label">contraseña</label>
        <input 
            type="password" 
            class="form-control" 
            id="password" 
            formControlName="password" 
            placeholder="Ingresa tu contraseña"
            style="border-radius: 10px;">
        <div class="invalid-feedback text-danger">
            La contraseña es obligatoria.
        </div>
    </div>
    <div class="mb-4">
        <label for="checkpassword" class="form-label">Confirmar Contraseña:</label>
        <input 
            type="password" 
            class="form-control" 
            id="checkPassword" 
            formControlName="checkPassword" 
            placeholder="Confirma tu contraseña"
            style="border-radius: 10px;">
        <div class="invalid-feedback text-danger">
            Confirma tu contraseña.
        </div>
    </div>
    <div class="mb-4">
        <label for="nickname" class="form-label">Nombre de Usuario:</label>
        <input 
            type="nickname" 
            class="form-control" 
            id="nickname" 
            formControlName="nickname" 
            placeholder="Ingresa tu nombre de usuario"
            style="border-radius: 10px;">
        <div class="invalid-feedback text-danger">
            El nombre de usuario es obligatorio.
        </div>
    </div>
    <div class="mb-4">
        <label for="phoneNumber" class="form-label">Número de celular:</label>
        <input 
            type="phoneNumber" 
            class="form-control" 
            id="phoneNumber" 
            formControlName="phoneNumber" 
            placeholder="Ingresa tu número de celular"
            style="border-radius: 10px;">
        <div class="invalid-feedback text-danger">
        </div>
    </div>


      <div class="d-grid gap-2 mt-3">
          
          <button class="btn btn-outline-success btn-block" type="button" (click)="onClickRegister()">
              <i class="bi bi-box-arrow-in-right"></i> Registrarse
          </button>
          <button class="btn btn-outline-danger btn-block" type="button" (click)="onClickRegisterWithGoogle()">
              <i class="bi bi-google"></i> Registrarse con Google
          </button>
          <button class="btn btn-outline-primary btn-block" type="button" routerLink="/login" >
            <i class="bi bi-person-plus"></i> Ya tienes una cuenta? Iniciar Sesión
        </button>
      </div>
  </form>
</div>
